.petImage {
  max-width: 598px;
  min-height: 598px;
  height: 100%;
  border-radius: 15px;
  border: 1px solid rgba(226, 235, 248, 0.2);
  overflow: hidden;
  width: 100%;
  margin-right: 30px;
  position: relative;
  padding-bottom: 65%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.placeholder {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
}

@media (max-width: 768px) {
  .petImage {
    min-height: 0;
    max-height: 598px;
    padding-bottom: 100%;
    margin-right: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
}
