.winnerCard {
  display: flex;
  background: #ffffff;
  border-radius: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.winnerCardImage {
  width: 100%;
  max-height: 143px;
  min-height: 143px;
  max-width: 143px;
  background-color: #e4e4e4;
  border-radius: 16px 0 0 16px;

  img {
    border-radius: 16px 0 0 16px;
    max-width: 143px;
    max-height: 143px;
    width: 100%;
    object-fit: cover;
  }
}

.winnerCardContent {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 24px;
}

.contestHeader {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 9px;

  .placePrizeDesktop {
    margin-left: auto;
  }

  h4 {
    font-weight: 500;
  }
}

.placePrizeMobile {
  display: none;
}

.placePrize {
  color: #50b772;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.contestSubHeader {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 19px;
}

.contestBottom {
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-left: 3px;
  margin-top: 19px;

  .contestants,
  .time {
    display: flex;
    align-items: center;
  }

  .time {
    margin-right: 25px;
  }

  .btnBlock {
    margin-left: auto;
    margin-top: -12px;

    button {
      height: 40px;
      min-width: 159px;
      border-radius: 10px;
    }
  }
}

.monthIcon,
.contestantsIcon {
  display: flex;
  margin-right: 8px;
}

.divis {
  margin: 0 4px;
}

@media (max-width: 986px) {
  .winnerCardImage,
  .winnerCardImage img {
    max-width: 224px;
    max-height: 224px;
    min-height: 224px;
  }

  .winnerCard .contestHeader {
    flex-direction: column;
    align-items: start;
  }

  .winnerCard .contestHeader .placePrizeDesktop {
    margin-left: 0;
  }

  .placePrizeDesktop {
    display: none;
  }

  .placePrizeMobile {
    display: block;
    margin-top: 8px;
  }

  .winnerCard .contestBottom .btnBlock {
    margin-top: 19px;
  }

  .contestBottom {
    white-space: nowrap;
    flex-wrap: wrap;
  }

  .contestants {
    width: 50%;
  }
}

@media (max-width: 830px) {
  .contestants {
    width: auto;
  }
}

@media (max-width: 768px) {
  .winnerCardImage,
  .winnerCardImage img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .winnerCard .winnerCardContent .time {
    margin-right: 0;
    flex-wrap: wrap;
    margin-bottom: 7px;
  }

  .winnerCard .winnerCardContent {
    padding: 14px 16px 16px;
  }

  .winnerCard .contestBottom {
    flex-direction: column;
  }

  .winnerCard {
    border-radius: 0;
    flex-direction: column;
  }

  .btnBlock {
    margin-top: 17px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .contestants {
    width: 100%;
  }
}
