.preload {
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minPreload {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
}

.item {
  display: flex;
  position: relative;

  &:hover {
    background-color: rgba(235, 134, 75, 0.2);
  }
}

.items {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  margin: 26px 0;
}

.content .rightContestants,
.content .rightTime,
.content .rightContest {
  display: none;
}

.content .rightPrize {
  color: #50b772;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.4px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.leftPrize {
  display: none;
}

.content .leftHeader {
  color: rgba(0, 0, 0, 0.87);
  font-size: 17px;
  max-width: 237px;
  font-weight: 400;
  letter-spacing: 0.15px;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .leftVotes {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.items a:last-child .content {
  border-bottom: 0;
}

.items:global(.big) a:first-child {
  min-height: 144px;

  .itemImage {
    padding-top: 25px;
    align-items: flex-start;

    div {
      width: 96px;
      height: 96px;
    }

    img {
      width: 96px;
      height: 96px;
      background: var(--placeholder);
    }
  }

  .content {
    padding-top: 19px;
    padding-bottom: 33px;
  }

  .content .left {
    padding-top: 18px;
  }

  .content .rightPrize {
    display: none;
  }

  .content .right {
    padding-top: 21px;
  }

  .content .rightContestants,
  .content .rightTime,
  .content .rightContest {
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.4px;
  }

  .content .rightContest {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.4px;
  }

  .content .rightContest,
  .content .rightTime {
    margin-bottom: 11px;
  }

  .content .leftHeader {
    color: rgba(0, 0, 0, 0.87);
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.15px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content .leftVotes {
    color: #fd784b;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .content .leftPrize {
    display: block;
    color: #50b772;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.25px;
    white-space: nowrap;
  }
}

.mobileImage {
  display: none;
}

.itemImage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 96px;
  margin-left: 68px;
  width: 100%;

  .image {
    border-radius: 50%;
    background: var(--placeholder);
  }
}

.itemPlace {
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.4px;
  font-size: 13px;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  margin-left: 24px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 12px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
  }

  .right {
    margin-left: auto;
    text-align: right;
    padding-right: 24px;
  }
}

.leaderboardWinners {
  margin-top: 26px;
}

.imagePlaceholder {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--placeholder);
}

.winnersItems {
  background: #ffffff;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.otherLeaderboards {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: center;
  position: relative;

  span {
    padding: 0 24px;
    background: #f8f8f8;
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-bottom: 1px solid #cbcbcb;
  }
}

@media (max-width: 768px) {
  .items {
    border-radius: 0;
  }

  .winnersItems {
    border-radius: 0;
  }

  .preload {
    margin-bottom: 125px;
  }

  .items:global(.big) a:first-child {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .itemPlace {
      display: none;
    }

    .content .leftHeader {
      padding-top: 0;
    }

    .content {
      margin: 0;
      padding-bottom: 22px;
      padding-top: 0;
    }

    .itemImage {
      display: none;
    }

    .content .mobileImage {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin: 10px auto 0 auto;

      div {
        width: inherit;
        height: inherit;
      }

      .image {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        background: var(--placeholder);
      }
    }

    .content .left {
      align-items: center;
    }

    .content .rightTime {
      margin-right: 20px;
    }
  }

  .itemPlace {
    left: 76px;
    top: 22px;
  }

  .content .rightPrize {
    top: 22px;
    right: 16px;
  }

  .content .right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .itemImage {
    margin-left: 15px;
    max-width: 45px;
    align-items: end;
    margin-top: 17px;
  }

  .content .leftHeader {
    padding-top: 20px;
  }

  .content {
    flex-direction: column-reverse;
    margin-left: 17px;
    padding-top: 15px;
    padding-bottom: 21px;
  }

  .mobileImage {
    display: none;
  }

  .content .rightMobileBlock {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    .content .rightTime {
      margin-right: 20px;
    }
  }
}
