.root .morePetsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
}

.observerMarker {
  position: relative;
  top: -100px;
  height: 55px;
  margin: 69px 0;
}
