.addComment {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.addComment .avatar {
  margin-right: 15px;
}

.addComment .input {
  max-width: 493px;
  width: 100%;
  margin-right: 20px;
}

.addComment .send {
  color: var(--bg-1);
  background: var(--primary);

  &:hover {
    background-color: var(--primary-dark);
  }
}

@media (max-width: 425px) {
  .addComment {
    flex-direction: column;
  }

  .addComment .avatar {
    display: none;
  }

  .addComment .send {
    margin-left: auto;
    margin-top: 10px;
  }
}
