.root {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 71px;
}

.title {
  height: 27px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  span {
    width: 73px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--placeholder);
  }
}

.checkbox {
  display: flex;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    margin-right: 15px;

    span.checkboxTitle {
      width: 40px;
      height: 16px;
      overflow: hidden;
      border-radius: 20px;
      background-color: #e8e8e8;
    }

    span {
      width: 22px;
      height: 22px;
      overflow: hidden;
      border-radius: 50%;
      background-color: #e8e8e8;
      margin-right: 6px;

      &:last-child {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
