.root {
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  padding: 40px;
  margin-top: 40px;
}

.root .title {
  margin-bottom: 25px;
}

.root .info {
  overflow-wrap: anywhere;
  color: var(--gray-2);
}

.infoPlaceholder {
  display: flex;
  flex-direction: column;
  width: 100%;

  span {
    height: 17px;
    margin: 5px 0;
    width: 100%;
    border-radius: 17px;
    background: #e8e8e8;
  }

  span:last-of-type {
    width: 50%;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .root {
    border-radius: 0;
    margin-top: 20px;
  }
}
