.root {
  background: var(--bg-1);
  border: 1px solid rgba(226, 235, 248, 0.2);
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  padding: 40px;
}

@media (max-width: 768px) {
  .root {
    border-radius: 0;
    padding: 24px 20px;
  }
}
