.root {
  margin: 0 0 25px 0;
  display: flex;
  flex-direction: column;
}

.title {
  height: 29px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  span {
    width: 280px;
    border-radius: 20px;
    background-color: var(--placeholder);
    height: 24px;
  }
}

.input {
  height: 43px;
  display: flex;
  align-items: center;

  span {
    width: 514px;
    background-color: var(--placeholder);
    border-radius: 10px;
    height: 43px;
  }
}
