.winnersWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.placeholder {
  background: #dad7d7;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding-bottom: calc(100% + 200px);
}

.image {
  height: 100%;
  max-width: 100%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.winnerInfo {
  background: var(--primary);
  box-shadow: 30px 30px 30px rgba(158, 202, 116, 0.05);
  border-radius: 20px;
  margin-top: -20px;
  padding: 25px 20px 20px;
  position: relative;
  height: 220px;
}

.petInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-basis: 65%;
  }

  h4 {
    flex-basis: 35%;
    text-align: right;
  }
}

.ownerInfo {
  display: flex;
  padding-top: 20px;
}

.ownerAvatar {
  margin-right: 10px;
  height: 45px;
  max-width: 45px;
  flex: 1 0 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 7px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.ownerColumn {
  color: var(--bg-1);
  max-width: calc(100% - 55px);

  p:first-of-type {
    margin-bottom: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  p:nth-of-type(2) {
    overflow: hidden;
    line-height: 23px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.sliderController {
  position: absolute;
  display: flex;
  top: -20px;
  left: 20px;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-1);
    color: var(--gray-2);

    &:hover {
      background-color: darken(#fff, 4);
    }

    &:first-of-type {
      margin-right: 10px;
    }
  }
}
