.swiperRoot {
  padding: 30px 0 !important;
  overflow: visible !important;
  position: relative;
  margin-top: 40px;

  &:after {
    content: '';
    position: absolute;
    background: linear-gradient(
      272.29deg,
      var(--dirty) 39.59%,
      rgba(255, 255, 255, 0) 98.61%
    );
    width: 300px;
    height: 340px;
    right: -60px;
    top: 16px;
    z-index: 2;
    transition: 0.2s ease;
  }

  &:before {
    content: '';
    position: absolute;
    background: linear-gradient(
      92.29deg,
      var(--dirty) 39.59%,
      rgba(255, 255, 255, 0) 98.61%
    );
    width: 300px;
    height: 340px;
    left: -60px;
    top: 16px;
    z-index: 2;
    transition: 0.2s ease;
  }
}

.swiperRoot {
  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    display: none;
  }
}

.swiperContainer {
  padding: 0 !important;
  max-width: 1600px !important;
  position: relative;
  overflow: hidden;
}

.noLeft {
  &:before {
    opacity: 0;
    pointer-events: none;
  }
}

.noRight {
  &:after {
    opacity: 0;
    pointer-events: none;
  }
}

.swiperRoot .imageSlide {
  background: #ffe7b7;
  border: 1px solid rgba(226, 235, 248, 0.2);
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  width: 283px;
  height: 301px;
  overflow: hidden;

  svg {
    height: 301px;
    max-height: 301px;
    will-change: height;
    min-height: 301px;
  }
}

.swiperRoot .seoSlide {
  border: 1px solid rgba(226, 235, 248, 0.2);
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  width: 598px;
  height: 301px;
  padding: 38px 37px;

  h2 {
    margin-bottom: 28px;
  }

  p {
    color: var(--gray-2);
    margin-bottom: 32px;
  }
}

.swiperRoot .clearFixSlide {
  width: 400px;
  height: 301px;
}

.sliderButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  position: absolute;
  top: 50%;
  transform: translateY(-54%);
  z-index: 10;
  color: #fff;
  transition: var(--transition-hover);

  &:hover {
    background-color: var(--primary-dark);
  }
}

.nextButton {
  right: 29px;
}

.prevButton {
  left: 29px;
}

.noButton {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1480px) {
  .swiperRoot .seoSlide {
    width: 430px;
    padding: 20px;

    p {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1140px) {
  .swiperRoot {
    &:after {
      //right: -100px;
      display: none;
    }

    &:before {
      //left: -100px;
      display: none;
    }
  }

  .swiperRoot .clearFixSlide {
    display: none;
  }

  .nextButton {
    display: none;
  }

  .prevButton {
    display: none;
  }
}

@media (max-width: 992px) {
  .swiperRoot .seoSlide {
    width: 90%;

    h2 {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 23px;
    }
  }
}

@media (max-width: 560px) {
  .swiperRoot {
    margin-top: 25px;
    padding: 0 !important;
    overflow: visible;
    margin-bottom: 50px;
  }
  .swiperRoot .seoSlide {
    h2 {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 18px;
    }

    p {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 440px) {
  .swiperRoot .seoSlide:nth-of-type(n + 2) {
    width: 100%;
  }

  .swiperRoot .seoSlide p {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 360px) {
  .swiperRoot .seoSlide {
    padding: 15px 20px;

    p {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 5px;
    }
  }
}
