.root {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.unloader {
  display: flex;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  overflow: hidden;
  padding: 2px;
  background: var(--placeholder);
}

.imageRoot {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  min-width: 45px;
  min-height: 45px;
}
