.root {
  border-radius: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.preload {
  margin: 125px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .preload {
    margin-bottom: 125px;
  }
}
