:root {
  --primary: #eb864b;
  --primary-dark: #d26d32;
  --secondary: #e9b32a;
  --secondary-dark: #dfa717;
  --secondary-light10: rgba(233, 179, 42, 0.1);
  --green: #9eca74;
  --green-dark: #76a947;
  --black: #31344e;
  --gray: #f4f9fe;
  --gray-light10: rgba(244, 249, 254, 0.1);
  --bg-1: #ffffff;
  --red-error: #f03738;
  --gray-2: #a4afbe;
  --dirty: #f7f7f7;
  --fiolet: #5c6191;
  --fiolet-dark: #454c84;
  --fiolet-light10: rgba(69, 76, 132, 0.1);
  --disabled: #f4f5f7;
  --placeholder: #e8e8e8;

  --transition-hover: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  --font-sans: 'SF Pro Display', -apple-system, system-ui, BlinkMacSystemFont,
    'Helvetica Neue', 'Helvetica', sans-serif;
}

$primary: '#EB864B';
$secondary: '#e9b32a';
$green: '#9ECA74';
$black: '#31344E';
$gray: '#F4F9FE';
$bg-1: '#FFFFFF';
$red-error: '#F03738';
$gray-2: '#A4AFBE';
