.root {
  background: var(--bg-1);
  border: 2px solid var(--gray);
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.like {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 76px;
  border-radius: 50%;

  svg {
    width: 16px;
    height: 16px;
  }
}

.price {
  color: var(--fiolet);
  margin-right: auto;
}

.free {
  .like {
    background: var(--fiolet-light10);
    color: var(--gray-2);
  }

  .button > button {
    background-color: var(--fiolet);

    &:hover {
      background-color: var(--fiolet-dark);
    }
  }
}

.regular {
  .like {
    background: rgba(235, 134, 75, 0.06);
    color: var(--secondary);
  }
}

.special {
  background: var(--secondary-light10);
  border: 2px solid rgba(#f4f9fe, 0.1);

  .like {
    background: rgba(235, 134, 75, 0.06);
    color: var(--secondary);
  }

  .button > button {
    background-color: var(--green);

    &:hover {
      background-color: var(--green-dark);
    }
  }
}

.button {
  max-width: 120px;

  button {
    min-width: 120px;
  }
}
