.root {
  display: flex;
  align-items: center;

  &:last-of-type {
    margin-right: 0;
  }

  i {
    margin-right: 10px;
  }
}

.root.regular {
  margin-right: 24px;

  p {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
  }

  span {
    position: relative;
    top: -15px;
  }
}

.root.small {
  margin-right: 17px;

  p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
  }

  span {
    position: relative;
    top: -10px;
    font-size: 11px;
  }

  .likes {
    i,
    svg {
      width: 13px;
      height: 13px;
    }
  }

  .position {
    i,
    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.likes {
  color: var(--primary);

  i,
  svg {
    width: 20px;
    height: 18px;
  }
}

.position {
  color: var(--fiolet);
}
