.header {
  padding: 10px 0;
  background: var(--bg-1);
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 2px 2px 10px rgba(65, 37, 23, 0.02);
  transition: 0.2s ease-in-out box-shadow;
  will-change: box-shadow;
}

.header .container {
  max-width: 1600px;
}

.hasScroll {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 60px;

  span {
    margin-left: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: var(--primary);
    position: relative;
    top: 3px;
  }
}

.search {
  max-width: 287px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}

@media (max-width: 1320px) {
  .logo {
    margin-right: 30px;
  }

  .search {
    max-width: 180px;
  }
}

@media (max-width: 860px) {
  .header {
    position: static;
    background: transparent;
    box-shadow: none;
  }

  .search {
    display: none;
  }

  .logo {
    margin-right: 0;

    svg {
      width: 40px;
      height: 40px;
    }

    span {
      font-size: 18px;
    }
  }
}
