.inputCard {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 25px;
  border-radius: 16px;
  margin-top: 50px;
  background: var(--bg-1);
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
}

.searchWrapper {
  position: relative;
  flex: 1 1;
  margin-right: 2.5%;
}

.searchButton {
  background-color: var(--primary);
  width: auto;
  height: 36px;
  border-radius: 30px;
  padding: 6px 31px;

  span {
    font-size: 17px;
    color: #fff;
    font-weight: 600;
  }
}

.closeIcon {
  width: 14px;
  height: 14px;
  fill: rgba(0, 0, 0, 0.38);
  cursor: pointer;

  &:hover {
    fill: var(--primary);
  }
}

.closeButton {
  display: flex;
}

.searchInput > div > input {
  padding: 18.5px 46px 18.5px 14px;
}

.searchInput > div > fieldset {
  transition: border-color 0.18s ease-in;
}

@media (max-width: 860px) {
  .inputCard {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .inputCard {
    flex-direction: column;
    align-items: stretch;
    border-radius: 0;
    padding-bottom: 16px;
  }

  .searchButton {
    font-size: 14px;

    span {
      font-size: 16px;
    }
  }

  .searchWrapper {
    margin: 0 0 16px 0;
  }
}
