.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.37);
    line-height: 30px;
    font-size: 22px;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgba(0, 0, 0, 0.21);
  width: 80px;
  height: 80px;
  padding: 0;
}
