.searchWrapper {
  position: relative;
  width: 100%;
}

.actionIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  z-index: 2;
}

.searchInput {
  border: 1px solid var(--gray-2);
  box-sizing: border-box;
  border-radius: 50px;
  height: 36px;
  padding: 0 40px 0 15px;
  font-size: 13px;
  font-weight: 500;
  color: var(--black);
  width: 100%;
  transition: border 0.2s;

  &::placeholder {
    color: var(--gray-2);
    font-size: 13px;
    font-weight: 500;
  }
}

.noValueInput {
  pointer-events: none;
}

.clearButton {
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
  }

  svg {
    path {
      transition: fill 0.2s;
    }
  }

  &:hover {
    svg {
      path {
        fill: var(--primary);
      }
    }
  }
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;

  svg {
    path {
      transition: fill 0.2s;
    }
  }

  &:hover {
    svg {
      path {
        fill: var(--primary);
      }
    }
  }
}

.searchFocused {
  .searchInput {
    border-color: var(--primary);
  }

  .searchIcon {
    path {
      fill: var(--primary);
    }
  }
}
