.cardWrapper {
  background: var(--secondary);
  box-shadow: 30px 30px 30px rgba(207, 96, 31, 0.05);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 284px;
  cursor: pointer;

  &:hover {
    background: var(--secondary-dark);
  }

  h4 {
    color: var(--bg-1);
  }
}
