.root {
  background: var(--bg-1);
  border: 1px solid rgba(226, 235, 248, 0.2);
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  margin-top: 40px;
  padding: 40px;
}

.noCommentsRoot {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noCommentsTitle {
  margin-top: 15px;
  color: var(--gray-2);
}

.isComments {
  border-top: 1px solid rgba(226, 235, 248, 0.2);
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 20px;
}

@media (max-width: 768px) {
  .root {
    border-radius: 0;
  }
}

@media (max-width: 525px) {
  .root {
    padding: 40px 20px;
  }
}
