.userBlock {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.userBlock .addPetButton {
  margin-right: 28.5px;
}

.userBlock .addPetButtonMobile {
  display: none;
  color: var(--primary);
  margin-right: 20px;
}

.userBlock .loginLink {
  color: var(--primary);
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  transition: var(--transition-hover);
  border: none;
  box-shadow: none;
  background: none;

  &:hover {
    color: var(--primary-dark);
  }
}

.userBlock .loginIcon {
  width: 47px;
  height: 47px;
  background: #f4f9fe;
  border: 2px solid rgba(235, 134, 75, 0.2);
  border-radius: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 12.5px;

  svg {
    margin-right: 0;
  }
}

.authUser {
  position: relative;
  display: flex;
  height: 55px;
}

.userAvatar {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--gray);
}

.notificationBlock {
  display: flex;

  &.active .notifications {
    svg {
      path {
        fill: var(--primary);
      }
    }
  }
}

.notifications {
  svg {
    path {
      fill: #31344e;
    }
  }
}

.notifications {
  display: flex;
  align-items: center;
  position: relative;
  align-self: center;
  width: 41px;
  z-index: 2;
  margin-right: 20px;

  span {
    position: absolute;
    top: -1px;
    right: 9px;
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background: var(--primary);
  }
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 0 6px;
  cursor: pointer;
  transition: background 0.1s;

  &:hover {
    background-color: rgba(235, 134, 75, 0.2);
  }
}

.userName {
  margin-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  display: inline-block;
  width: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.authUser .user {
  &.active {
    background-color: rgba(235, 134, 75, 0.2);
  }
}

.user .dropDown {
  position: absolute;
  background: #ffffff;
  overflow: hidden;
  right: 0;
  top: 60px;
  max-width: 200px;
  min-width: 200px;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.1);
  border-radius: 5px;

  li:nth-child(4) {
    i {
      right: 15px;
    }
  }

  li {
    position: relative;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 16px 16px 15px;
    cursor: pointer;

    &:hover {
      background-color: rgba(235, 134, 75, 0.2);
    }
  }
}

.icon {
  right: 18px;
  top: 13px;
  position: absolute;
  width: 23px;
  height: 23px;
  fill: rgba(0, 0, 0, 0.32);
}

.invertedIcon {
  fill: var(--primary);
  transform: rotate(-25deg);
}

@media (max-width: 1160px) {
  .userBlock .addPetButton {
    display: none;
  }

  .userBlock .addPetButtonMobile {
    display: block;
    width: 47px;
    height: 47px;
    padding: 0;
  }
}

@media (max-width: 992px) {
  .userName {
    display: none;
  }

  .user {
    border-radius: 100%;
  }
}

@media (max-width: 860px) {
  .userBlock .addPetButtonMobile {
    display: none;
  }
}

@media (max-width: 425px) {
  .notifications {
    margin-right: 0;
  }
}

@media (max-width: 360px) {
  .userBlock .loginLink span:last-of-type {
    display: none;
  }
}
