.petInfo {
  display: flex;
  margin-bottom: 25px;
}

.petImage {
  border: 1px solid rgba(226, 235, 248, 0.2);
  border-radius: 15px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 15px;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.petInfoCol {
  padding-top: 24px;

  .petBreed {
    font-size: 15px;
    margin-bottom: 2px;
  }
}

.petBreed {
  color: var(--primary);
}

.petInfoCol .petName {
  overflow-wrap: anywhere;
  max-width: 365px;
  margin-bottom: 11px;
  font-weight: 600;
}

.petStats {
  display: flex;
}
