.root {
  margin-bottom: 30px;
  display: flex;
}

.input {
  height: 43px;
  display: flex;
  align-items: center;
  width: 100%;

  span {
    width: 514px;
    background-color: var(--placeholder);
    border-radius: 10px;
    height: 43px;
  }
}
