.root {
  display: flex;
  flex-direction: column;
}

.instagram,
.facebook {
  display: flex;
  align-items: center;
  height: 43px;
  max-width: 395px;
  min-width: 100%;
  border-radius: 10px;
  background-color: var(--placeholder);
}

.instagram,
.facebook {
  margin-bottom: 30px;
}
