.root .breed {
  color: var(--primary);
  margin-bottom: 2px;
}

.root h2 {
  overflow-wrap: anywhere;
  max-width: 284px;
}

.socials {
  margin-top: 5px;
  display: flex;

  svg {
    width: 30px;
    height: 30px;
  }

  & > a {
    margin-right: 15px;
  }
}

.breedPlaceholder {
  height: 22px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;

  span {
    width: 120px;
    border-radius: 15px;
    background-color: var(--placeholder);
    height: 15px;
  }
}

.petNamePlaceholder {
  height: 57px;
  display: flex;
  align-items: center;

  span {
    width: 250px;
    border-radius: 45px;
    background-color: var(--placeholder);
    height: 45px;
  }
}

.socialsPlaceholder {
  height: 27px;
  margin-top: 2px;
  display: flex;

  span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--placeholder);
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .root {
    padding: 15px;
  }

  .root h2 {
    font-size: 25px;
    line-height: 28px;
    margin-top: 8px;
    max-width: 100%;
  }

  .socials {
    margin-top: 8px;
  }
}
