.root {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 22px;
}

.container {
  margin: auto 0;
  width: 100%;
  max-width: 1182px;
  padding: 0 24px;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}
