.root {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  background: #FFFFFF;
  box-shadow: -5px -5px 30px rgba(65, 37, 23, 0.05);
  height: 64px;
  z-index: 10;
  left: 0;
  padding: 0 15px;
}

.navItem {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25%;
  align-items: center;
  justify-content: center;
  color: #A4AFBE;
  text-decoration: none;
  
  &:hover {
    color: var(--primary);

    svg {
      fill: var(--primary)
    }
  }
  
  svg {
    margin-bottom: 5px;
  }
}

.navItem .addPet {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  color: var(--primary);
  
  svg {
    margin-bottom: 0;
    width: 25px;
    height: 25px;
  }
}

.active {
  color: var(--primary);
  
  svg {
    fill: var(--primary)
  }
}

@media (max-width: 860px) {
  .root {
    display: flex;
  }
}