.root {
  display: flex;
  margin-top: 15px;
  height: 45px;
}

.userInfo {
  margin-left: 12px;
}

.name {
  margin-bottom: 3px;
}

.location {
  color: var(--gray-2);
}

.avatarPlaceholder {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #e8e8e8;
}

.userInfoPlaceholder {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  height: 45px;
}

.namePlaceholder {
  height: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;

  span {
    width: 120px;
    border-radius: 15px;
    background-color: #e8e8e8;
    height: 15px;
  }
}

.locationPlaceholder {
  height: 15px;
  display: flex;
  align-items: center;

  span {
    width: 100px;
    border-radius: 15px;
    background-color: #e8e8e8;
    height: 13px;
  }
}

@media (max-width: 768px) {
  .root {
    margin-top: 10px;
    padding-left: 15px;
  }
}
