.note {
  background: rgba(226, 235, 248, 0.2);
  border-radius: 5px;
  padding: 16px 23px;
  display: flex;
  align-items: center;
  color: var(--fiolet);
  margin-bottom: 30px;

  svg {
    margin-right: 15px;
  }
}

.noteMarked {
  color: var(--primary);
}

.creditCardForm {
  max-width: 364px;
  height: 190px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
  background-image: url('../../../../static/images/backgrounds/formCardBackground.jpg');
  background-repeat: no-repeat;
  margin-bottom: 28px;
}

.root .saveCreditCard {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.root .startPayment {
  margin: 0 auto 25px;
  display: flex;

  svg,
  path {
    fill: var(--bg-1);
  }
}

.footer {
  max-width: 290px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    margin-top: 25px;
    font-size: 12px;
    line-height: 150%;
    color: var(--fiolet);
  }

  a {
    color: var(--primary);
  }
}
