.root {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.breadcrumbs {
  padding-left: 10px;
}

.petInfoRoot {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  div {
    border: none;
  }
}

.petInfoCol {
  min-width: 284px;
}

.container {
  max-width: 912px;
  width: 100%;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .petInfoCol {
    box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
    background: #ffffff;
  }

  .petInfoRoot {
    flex-direction: column;
  }

  .breadcrumbs {
    padding-left: 15px;
  }
}
