.root {
  height: 310px;
  min-width: 215px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .social {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 18px;
  }

  .googleIcon svg,
  .facebookIcon svg {
    border-radius: 50px;
    transition: box-shadow 0.2s;
  }

  .googleIcon:hover svg {
    box-shadow: 3px 3px 18px rgba(65, 37, 23, 0.14);
  }

  .facebookIcon:hover svg {
    box-shadow: 3px 3px 18px rgba(65, 37, 23, 0.36);
  }

  .social button {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: none;
    border: none;
  }

  p {
    margin-bottom: 17px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 230px;
  }
}

.submitBtn {
  max-width: 144px;
}

.root .title {
  margin-bottom: 30px;
}

@media (max-width: 315px) {
  .root {
    min-width: 100%;
  }

  .root form {
    width: 100%;
  }

  .root p {
    font-size: 15px;
  }
}
