.addMedia {
  position: relative;
  width: auto;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  flex: 0 1 284px;
}

.mediaWrapper {
  padding: 20px;
  background: var(--secondary);
  border-radius: 20px;
}

.dragWrapper {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 20px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='white' stroke-width='2' stroke-dasharray='20' stroke-dashoffset='24' stroke-linecap='round'/%3e%3c/svg%3e");
  width: 100%;
  height: 244px;
  padding-top: 23px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bg-1);

  h4 {
    margin-bottom: 15px;
  }

  h4.drop {
    margin: auto 0;
  }

  span {
    max-width: 180px;
    text-align: center;
  }
}

.inputZone {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.editMedia {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--bg-1);
  border-radius: 100%;
  right: 0;
  cursor: pointer;
  margin: 20px 20px 0 0;
  z-index: 2;
  transition: background 0.2s;

  &:hover {
    background-color: var(--placeholder);
  }

  path {
    fill: var(--primary);
  }
}

input::-webkit-file-upload-button {
  display: none;
}

.mediaImage {
  background-color: #e8e8e8;
  border-radius: 20px;
  object-fit: cover;
  max-height: 284px;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 600px) {
  .dragAndDrop {
    h4 {
      font-size: 14px;
    }
  }
}
