.root {
  flex-direction: column;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  height: 267px;
  padding: 40px;
  display: flex;
  position: relative;
  margin-bottom: 32px;
  margin-top: 83px;
  overflow: hidden;
  width: 100%;
  background: var(--black)
    url('../../../static/images/development/footerBg.png');
}

.container {
  position: relative;
}

.wrap {
  display: flex;
  width: 100%;
  height: 86%;
}

.navigation {
  z-index: 2;
  display: flex;
  margin-right: 52px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 51%;

  a {
    text-decoration: none;
    color: var(--bg-1);
    margin-right: 152px;
    margin-bottom: 26px;
    font-weight: 600;
    transition: var(--transition-hover);
    width: fit-content;

    p {
      font-weight: inherit;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      color: var(--primary);
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 114px;
  width: 161px;
  height: 60px;

  span {
    margin-left: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: var(--primary);
    position: relative;
  }
}

.footerPets {
  padding-top: 1px;
  width: 29%;
  padding-left: 4px;
}

.text {
  display: flex;
  padding: 3px;

  span {
    padding-top: 8px;
    color: var(--gray-2);
  }

  span:first-of-type {
    margin-right: 111px;
    width: 161px;
  }
}

.container .toTopButton {
  position: absolute;
  top: -40px;
  right: 80px;
  background: var(--primary);
  border: 5px solid var(--bg-1);
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  padding: 0;

  &:hover {
    background: darken(#eb864b, 5) !important;
  }
}

@media (max-width: 1480px) {
  .navigation a {
    margin-right: 100px;
  }

  .footerPets {
    padding-top: 15px;
  }
}

@media (max-width: 1240px) {
  .logo {
    margin-right: 80px;
  }

  .text {
    span:first-of-type {
      margin-right: 77px;
    }
  }

  .navigation a {
    margin-right: 50px;
  }
}

@media (max-width: 1040px) {
  .logo {
    margin-right: 50px;
  }

  .text {
    span:first-of-type {
      margin-right: 47px;
    }
  }
}

@media (max-width: 992px) {
  .footerPets {
    position: absolute;
    right: 0;
    bottom: -4px;

    svg {
      width: 300px;
      height: auto;
    }
  }

  .container .toTopButton {
    border: 2px solid #fffcfa;
    width: 55px;
    height: 55px;
    top: -27.5px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 860px) {
  .root {
    margin-bottom: 100px;
    height: auto;
  }

  .wrap {
    flex-direction: column;
    height: auto;
  }

  .navigation {
    margin-top: 30px;
    width: 100%;
    height: 164px;
    margin-bottom: 35px;
  }

  .text {
    flex-direction: column;
  }

  .footerPets {
    width: auto;
    right: -40px;
  }

  .container .toTopButton {
    top: 40px;
  }
}

@media (max-width: 768px) {
  .root {
    padding: 20px;
  }

  .navigation a {
    margin-right: 30px;
  }

  .container .toTopButton {
    top: 22px;
    right: 32px;
  }
}

@media (max-width: 560px) {
  .root {
    margin-top: 0;
  }

  .logo {
    svg {
      width: 50px;
      height: 50px;
    }
  }

  .navigation {
    height: 210px;
    margin-bottom: 0;
  }

  .navigation a {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 20px;

    p {
      font-size: inherit;
      line-height: inherit;
    }
  }

  .text {
    margin-bottom: 170px;
  }

  .footerPets {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
