.container {
  max-width: 1600px;
  padding-top: 40px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 500px;
}

.actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  max-width: 700px;
  margin-left: 150px;
  h1 {
    font-size: 100px;
  }

  h4 {
    margin-bottom: 10px;
  }
}

.image {
  max-width: 700px;
  svg {
    max-width: 700px;
  }
}

@media (min-width: 2560px) {
  .wrap {
    height: calc(100vh - 500px);
  }
}

@media (max-width: 1104px) {
  .actions {
    max-width: 800px;
    h4 {
      font-size: 20px;
    }
  }

  .image {
    svg {
      max-width: 500px;
    }
  }
}

@media (max-width: 838px) {
  .wrap {
    flex-direction: column;
  }

  .actions {
    margin-left: 0;
  }

  .image {
    margin-right: 35px;
    svg {
      width: 800px;
      height: 300px;
    }
  }
}

@media (max-width: 516px) {
  .wrap {
    flex-direction: column;
  }

  .actions {
    margin-left: 0;
  }

  .image {
    margin-right: 35px;
    svg {
      width: 300px;
      height: 300px;
    }
  }
}

// @media (max-width: 600px) {
//   .actions{
//     max-width: 300px;
//     h1{
//       font-size: 50px;
//     }

//     h4{
//       font-size: 20px;
//     }
//   }

//   .image{
//     svg{
//       width: 300px;
//     }

//   }
// }
